
<div class="container">

  <div class="hero-unit cf">
    <div class="hero-text">
      <h1>Gistify</h1>
      <p>The quickest and easiest way to share code on GitHub's <%= link_to 'Gist', 'https://gist.github.com/', target: '_blank' %> service. Exclusively available for Mac on the <%= link_to 'Mac App Store', 'https://itunes.apple.com/us/app/gistify/id653231502' %>.</p>

      <iframe src="http://player.vimeo.com/video/68725240?portrait=0&byline=0&title=0" width="100%" height="500" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>

      <div class='left pull'>
        <div class="addthis_toolbox addthis_default_style ">
          <a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
          <a class="addthis_button_tweet"></a>
          <a class="addthis_button_pinterest_pinit"></a>
          <a class="addthis_counter addthis_pill_style"></a>
        </div>
      </div>

      <div class='right pull'>
        <%= link_to image_tag('app_store_badge.png', width: '165', height: '40'), 'https://itunes.apple.com/us/app/gistify/id653231502' %>
      </div>
    </div>

  </div>

  <div class="row screenies">
    <div class="span4">
      <h4>Global Hotkeys</h4>
      <%= image_tag('shortcuts.png', width: '300', height: '185') %>
      <p>Activate Gistify no matter where you are or what you're doing with a simple keyboard shortcut. It's never been simpler to share code with your colleagues and friends.</p>
    </div>
    <div class="span4">
      <h4>Use Your GitHub Account</h4>
      <%= image_tag('signin.png', width: '300', height: '185') %>
      <p>Sign in to GitHub and share your gists through your username; or share anonymously either by default or on a gist-by-gist basis.</p>
   </div>
    <div class="span4">
      <h4>Override Defaults</h4>
      <%= image_tag('gistify_as.png', width: '300', height: '50', class: 'lengthen') %>
      <p>Set sensible defaults that you use most of the time, and override them whenever you like with the "Gistify As" dialogue.</p>
    </div>
  </div>

</div> <!-- /container -->

<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=xa-51af61813a35a04b"></script>